snippets/automations/scripts/n8n/Luma-To-Mintlify.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        64,
        -96
      ],
      "id": "c69f62f0-871a-49f7-870a-062016aaae16"
    },
    {
      "parameters": {
        "url": "=https://api2.luma.com/ics/get?entity=calendar&id={{ $json.lumaCalID }}",
        "options": {}
      },
      "name": "Fetch iCal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        432,
        -96
      ],
      "id": "2a8ebed6-0dd4-405c-af8a-c41102d2046e"
    },
    {
      "parameters": {
        "jsCode": "const icalData = $input.item.json.data;\n\n// Extract all VEVENT blocks\nconst eventBlocks = icalData.match(/BEGIN:VEVENT[\\s\\S]*?END:VEVENT/g) || [];\n\nconst events = eventBlocks.map(block => {\n  const getField = (field) => {\n    const match = block.match(new RegExp(`${field}:(.*?)(?:\\n[A-Z]|\\nEND:)`, 's'));\n    return match ? match[1].replace(/\\n /g, '').trim() : '';\n  };\n  \n  const parseDate = (dateStr) => {\n    // Format: 20240523T090033Z\n    const year = dateStr.slice(0, 4);\n    const month = dateStr.slice(4, 6);\n    const day = dateStr.slice(6, 8);\n    const hour = dateStr.slice(9, 11);\n    const min = dateStr.slice(11, 13);\n    return new Date(`${year}-${month}-${day}T${hour}:${min}:00Z`);\n  };\n\n  const startStr = getField('DTSTART');\n  const endStr = getField('DTEND');\n  const summary = getField('SUMMARY');\n  const description = getField('DESCRIPTION');\n  const location = getField('LOCATION');\n  const uid = getField('UID').split('@')[0];\n  \n  // Extract luma URL from description\n  const lumaUrl = description.match(/https:\\/\\/luma\\.com\\/\\w+/)?.[0] || '';\n\n  return {\n    title: summary,\n    start: parseDate(startStr),\n    end: parseDate(endStr),\n    description: description.split('\\n\\n')[0], // First paragraph only\n    location: location,\n    url: lumaUrl,\n    uid: uid\n  };\n});\n\n// Sort by date (newest first for display)\nconst sorted = events.sort((a, b) => b.start - a.start);\n\nreturn [{ json: { events: sorted } }];"
      },
      "name": "Parse iCal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "110949d1-b6b9-467e-bea4-7157c672a129"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $json.githubOwner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.githubRepo }}",
          "mode": ""
        },
        "filePath": "={{ $json.githubFilePath }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "`Chore: Update Livepeer events from Luma - ${new Date().toISOString()}`",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $json.githubBranch }}"
          }
        }
      },
      "name": "Update GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1712,
        -96
      ],
      "id": "6ea25cad-b0ce-46e2-8e2d-df449de5650e",
      "webhookId": "4ad2e461-cf8b-438d-8723-03a405599e22",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "github_owner",
              "name": "githubOwner",
              "value": "livepeer",
              "type": "string"
            },
            {
              "id": "github_repo",
              "name": "githubRepo",
              "value": "docs",
              "type": "string"
            },
            {
              "id": "github_path",
              "name": "githubFilePath",
              "value": "snippets/automations/luma/lumaEventsData.jsx",
              "type": "string"
            },
            {
              "id": "077c994c-4563-4210-8690-3b00fe4dba99",
              "name": "githubBranch",
              "value": "docs-v2-preview",
              "type": "string"
            },
            {
              "id": "28db75b7-87d1-4ad7-982d-c7c114bb9386",
              "name": "lumaCal",
              "value": "https://api2.luma.com/ics/get?entity=calendar&id=cal-X93qV3PuUH0wq0f",
              "type": "string"
            },
            {
              "id": "c3e05cc9-c4c2-482c-8fcb-498f68cb3839",
              "name": "lumaCalID",
              "value": "cal-X93qV3PuUH0wq0f",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        256,
        -96
      ],
      "id": "a9e89dab-422c-4952-a0dd-60a9ae45f9d1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1632,
        -352
      ],
      "id": "2884d9f4-db09-4594-8016-886a4833d387",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const events = $input.item.json.events;\n\nconst now = new Date();\nconst upcoming = events.filter(e => new Date(e.start) >= now);\nconst past = events.filter(e => new Date(e.start) < now);\n\nconst formatDate = (dateStr) => {\n  const date = new Date(dateStr);\n  return date.toLocaleDateString('en-US', { \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZoneName: 'short'\n  });\n};\n\nconst formatDateShort = (dateStr) => {\n  const date = new Date(dateStr);\n  return date.toLocaleDateString('en-US', { \n    year: 'numeric', \n    month: 'long', \n    day: 'numeric'\n  });\n};\n\nlet jsx = `export const lumaEventsData = {\\n`;\njsx += `  lastUpdated: \"${new Date().toISOString()}\",\\n`;\njsx += `  upcoming: [\\n`;\n\nupcoming.forEach((event, idx) => {\n  jsx += `    {\\n`;\n  jsx += `      title: \"${event.title.replace(/\"/g, '\\\\\"')}\",\\n`;\n  jsx += `      date: \"${formatDate(event.start)}\",\\n`;\n  jsx += `      location: \"${event.location.replace(/\"/g, '\\\\\"')}\",\\n`;\n  jsx += `      url: \"${event.url}\",\\n`;\n  jsx += `      description: \"${event.description.split('\\\\n\\\\n')[0].replace(/\"/g, '\\\\\"').replace(/\\n/g, ' ')}\"\\n`;\n  jsx += `    }${idx < upcoming.length - 1 ? ',' : ''}\\n`;\n});\n\njsx += `  ],\\n`;\njsx += `  past: [\\n`;\n\npast.forEach((event, idx) => {\n  jsx += `    {\\n`;\n  jsx += `      title: \"${event.title.replace(/\"/g, '\\\\\"')}\",\\n`;\n  jsx += `      date: \"${formatDateShort(event.start)}\",\\n`;\n  jsx += `      location: \"${event.location.replace(/\"/g, '\\\\\"')}\",\\n`;\n  jsx += `      url: \"${event.url}\"\\n`;\n  jsx += `    }${idx < past.length - 1 ? ',' : ''}\\n`;\n});\n\njsx += `  ]\\n`;\njsx += `};\\n`;\n\nreturn [{ \n  json: { \n    content: jsx,\n    filename: 'lumaEventsData.jsx'\n  } \n}];"
      },
      "name": "Generate JSX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -96
      ],
      "id": "d2e845cd-bbab-4f8b-88d6-1a5497541fdd"
    },
    {
      "parameters": {
        "url": "https://luma.com/livepeer",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        160
      ],
      "id": "af12e7c9-8c57-4381-aa62-29f247c4da1b",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const events = $input.first().json.events;\nconst html = $input.last().json.data;\n\n// Extract __NEXT_DATA__ which has event images\nconst match = html.match(/<script id=\"__NEXT_DATA__\" type=\"application\\/json\">(.*?)<\\/script>/s);\n\nlet imageMap = {};\n\nif (match) {\n  try {\n    const nextData = JSON.parse(match[1]);\n    const pageEvents = nextData.props?.pageProps?.events || [];\n    \n    // Map images to events by UID\n    pageEvents.forEach(e => {\n      if (e.cover_url || e.image_url) {\n        imageMap[e.api_id] = e.cover_url || e.image_url;\n      }\n    });\n  } catch (e) {\n    // If parsing fails, continue without images\n  }\n}\n\n// Add images to parsed events\nconst eventsWithImages = events.map(event => ({\n  ...event,\n  image: imageMap[event.uid] || null\n}));\n\nreturn [{ json: { events: eventsWithImages } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        176
      ],
      "id": "33ed85c3-4151-4a4d-88ac-9ece0dc45c08",
      "name": "Fetch Thumbnails",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch iCal": {
      "main": [
        [
          {
            "node": "Parse iCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse iCal": {
      "main": [
        [
          {
            "node": "Generate JSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch iCal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JSX": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Fetch Thumbnails": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c77566d0-f7e5-43a0-a3fd-f802beca9aba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b77ce31e344450acd6ad20bd6cde79f46c1e07d55921483122bfba86e8350352"
  },
  "id": "cciIC337AnHKKEow",
  "tags": []
}