snippets/automations/scripts/n8n/project-showcase-application-workflow.json
{
  "name": "Project Showcase Application Workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Validate all fields\nconst data = $input.last().json;\nconst errors = [];\n\n// Required fields check\nconst required = ['Project Name', 'Project Tagline', 'Project Description', 'Discord ID', 'Project Website', 'Project Logo'];\nfor (const field of required) {\n  if (!data[field] || data[field].trim() === '') {\n    errors.push(`Missing required field: ${field}`);\n  }\n}\n\n// URL validation helper\nfunction isValidUrl(string) {\n  try {\n    new URL(string);\n    return true;\n  } catch (_) {\n    return false;\n  }\n}\n\n// Validate main href\nif (data.href && !isValidUrl(data.href)) {\n  errors.push('Invalid project URL (href)');\n}\n\n// Validate mediaSrc\nif (data.mediaSrc && !isValidUrl(data.mediaSrc)) {\n  errors.push('Invalid media source URL');\n}\n\n// Validate logo\nif (data.logo && !isValidUrl(data.logo)) {\n  errors.push('Invalid logo URL');\n}\n\n// Validate links object\nif (data.links) {\n  try {\n    const links = typeof data.links === 'string' ? JSON.parse(data.links) : data.links;\n    for (const [key, value] of Object.entries(links)) {\n      if (value && !isValidUrl(value)) {\n        errors.push(`Invalid ${key} link`);\n      }\n    }\n  } catch (e) {\n    errors.push('Invalid links format');\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    isValid: errors.length === 0,\n    errors: errors,\n    errorMessage: errors.join(', ')\n  }\n};"
      },
      "id": "677ea31c-9629-4c98-8b24-439a1689398f",
      "name": "Validate Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isValid }}",
              "value2": false
            }
          ]
        },
        "options": {}
      },
      "id": "69ede940-280a-4bc8-9824-685c3bbf4d44",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $json[\"Discord ID \"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "031d3409-443d-4ddf-a1f6-f33ef637105e",
      "name": "Create DM Channel (Invalid)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -80,
        48
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        0
      ],
      "id": "94d5c725-b027-455d-a8cb-558b56b34895",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Sheets data to showcase format\nconst data = $input.first().json;\n\nconst submissionId = data['Timestamp'].toString().replace(/[^0-9]/g, '');\n\n// -----------------------------\n// Parse tags\n// -----------------------------\nconst categoryTags = data['Project Category']\n  ? data['Project Category'].split(',').map(t => t.trim())\n  : [];\n\nconst productTags = data['Livepeer Platforms Used']\n  ? data['Livepeer Platforms Used'].split(',').map(t => t.trim())\n  : [];\n\nconst raw = (data['Media File Type'] || '').toString().toLowerCase();\n\nconst mediaType =\n  raw === 'video / gif' || raw === 'video'\n    ? 'video'\n    : 'image';\n\n// -----------------------------\n// Links\n// -----------------------------\nconst links = [];\nconst urlFields = {\n  'Github URL': 'github',\n  'X / Twitter URL': 'twitter',\n  'Discord Invite URL': 'discord',\n  'Youtube Channel URL': 'youtube',\n  'Telegram URL': 'telegram',\n  'Instagram URL': 'instagram',\n  'Blog Site URL': 'blog',\n  'LinkedIn URL': 'linkedin',\n  'Whatsapp URL': 'whatsapp',\n  'Reddit URL': 'reddit',\n  'Bluesky URL': 'bluesky',\n  'Twitch URL': 'twitch',\n  'Other URL? ': 'other',\n  'Project Website': 'website',\n  'Email Contact (user facing)': 'email'\n};\n\nfor (const [fieldName, linkKey] of Object.entries(urlFields)) {\n  if (data[fieldName] && data[fieldName].trim()) {\n    links.push({ [linkKey]: data[fieldName].trim() });\n  }\n}\n\n\n// -----------------------------\n// Showcase object\n// -----------------------------\nconst showcaseObject = {\n  title: data['Project Name'],\n  subtitle: data['Project Tagline'],\n  href: data['Project Website'],\n  mediaSrc: data['Hero Media File'],\n  mediaType, \n  logo: data['Project Logo'],\n  categoryTags,\n  productTags,\n  description:\n    (data['Project Description'] || '') +\n    ' ' +\n    (data['How your project leverages Livepeer'] || ''),\n  cta: data['Call to Action (CTA)'] || '',\n  links\n};\n\nreturn {\n  json: {\n    ...data,\n    submissionId,\n    showcaseObject,\n    showcaseFormatted: JSON.stringify(showcaseObject, null, 2),\n    approved: 'no'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -272
      ],
      "id": "006e094d-aa17-45c6-9a6c-f94f5f4e3b4d",
      "name": "Transform to Correct Format"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        -144
      ],
      "id": "8721ab95-d644-4050-9190-04e568355d44",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "899aa788-8bf0-4f8b-9841-6f7a8d4e515b",
              "leftValue": "={{ $json['Approved?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -752,
        832
      ],
      "id": "067c4385-f325-4939-a7bd-3acf39b14d8e",
      "name": "Is Approve?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.googleSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.transformedResponsesSheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -448,
        576
      ],
      "id": "c042872a-b19f-466d-9fb2-5429551fbfe3",
      "name": "Get Submission (Approve)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseDataFilePath }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "={{ $('Github Config VARS').item.json.githubDataBranch }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1088,
        576
      ],
      "id": "177861a2-8361-43c1-a570-635b18ee960b",
      "name": "Get GitHub File",
      "webhookId": "3fff66ad-e86b-47fc-83a5-5529318b2173",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get SHA from GitHub\nconst sha = $('Get GitHub File').first().json.sha;\n\n// Get all rows from sheet\nconst allRows = $('Get All Approved Submissions').all();\n\n// Build showcase array from approved rows\nconst approvedRows = allRows.filter(item => item.json.approved === 'yes');\nconst showcaseArray = approvedRows.map(item => JSON.parse(item.json.showcaseJSX));\n\n// Build GitHub file\nconst fileContent = `export const showcaseData = ${JSON.stringify(showcaseArray, null, 2)};\\n`;\nconst encoded = Buffer.from(fileContent).toString('base64');\n\n// Build Discord embeds for each approved project\nconst discordEmbeds = approvedRows.map(item => {\n  const data = item.json;\n  const categoryTags = JSON.parse(data.categoryTags);\n  const productTags = JSON.parse(data.productTags);\n  const links = JSON.parse(data.links);\n  const email = $input.first().json.email;\n  const discordId = $input.first().json.discordId;\n  const editLink = $input.first().json.editLink;\n  \n  return {\n    title: data.title,\n    description: `${data.subtitle}\\n\\n${data.description}`,\n    url: data.href,\n    color: 5814783,\n    fields: [\n      {\n        \"name\": \"Submitter:\",\n        \"value\": `${email}, <@${discordId}>`,\n        \"inline\": false\n      },\n      {\n        name: \"Categories\",\n        value: categoryTags.join(', '),\n        inline: true\n      },\n      {\n        name: \"Products\",\n        value: productTags.join(', '),\n        inline: true\n      },\n      {\n        name: \"Links\",\n        value: links.map(l => {\n          const [k, v] = Object.entries(l)[0];\n          if (k === 'email') return `✉️ **Email**: ${v}`;\n          return `🔗 **${k.charAt(0).toUpperCase() + k.slice(1)}**: ${v}`;\n        }).join('\\n'),\n        inline: false\n      },\n      {\n        name: \"Edit Response\",\n        value: `[Edit Form Here](${editLink})`,\n        inline: false\n      }\n    ],\n    thumbnail: {\n      url: data.logo\n    }\n  };\n});\n\nreturn {\n  json: {\n    // For GitHub commit\n    content: encoded,\n    sha: sha,\n    message: `Update showcase: ${approvedRows.length} approved projects`,\n    \n    // For Discord notification\n    discordMessage: {\n      content: `✅ **Showcase Updated!**\\n\\n${approvedRows.length} approved project(s) now live:`,\n      embeds: discordEmbeds\n    },\n\n    recipient: $input.first().json.discordId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        576
      ],
      "id": "ab6d7033-e20e-430e-aadc-56cdc5ea0c2b",
      "name": "Update File"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseDataFilePath }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.message }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Github Config VARS').item.json.githubDataBranch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2384,
        384
      ],
      "id": "511f7734-7cea-46e2-86a9-fcc9b85cc604",
      "name": "Commit to GitHub",
      "webhookId": "08689abf-2e19-4137-b27d-34dcbe776083",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.googleSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.transformedResponsesSheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "approved": "yes",
            "row_number": 0,
            "submissionId": "={{ $json.submissionId_2 }}",
            "logo": "={{ $json.content.download_url }}",
            "mediaSrc": "={{ $json.content_1.download_url }}",
            "showcaseJSX": "={{ (() => { const o = JSON.parse($json.showcaseJSX_2); o.mediaSrc = $json.content_1.download_url; o.logo = $json.content.download_url; return JSON.stringify(o); })() }}"
          },
          "matchingColumns": [
            "submissionId"
          ],
          "schema": [
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordId",
              "displayName": "discordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "href",
              "displayName": "href",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mediaSrc",
              "displayName": "mediaSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoryTags",
              "displayName": "categoryTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "productTags",
              "displayName": "productTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta",
              "displayName": "cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submissionId",
              "displayName": "submissionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "editLink",
              "displayName": "editLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "showcaseJSX",
              "displayName": "showcaseJSX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Livepeer Usage",
              "displayName": "Livepeer Usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Roadmap",
              "displayName": "Project Roadmap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Help Request",
              "displayName": "Help Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Other",
              "displayName": "Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        576
      ],
      "id": "89cd7bdb-bf63-4532-99d2-118db3845f50",
      "name": "Mark Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.googleSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.transformedResponsesSheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -432,
        1040
      ],
      "id": "fb2b7890-40f7-422d-bec6-f1150779d1e8",
      "name": "Get Submission (Deny)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.googleSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.transformedResponsesSheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "approved": "={{ $('Is Approve?').item.json['Approved?'] }}",
            "submissionId": "={{ $json.submissionId }}"
          },
          "matchingColumns": [
            "submissionId"
          ],
          "schema": [
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordId",
              "displayName": "discordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "href",
              "displayName": "href",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mediaSrc",
              "displayName": "mediaSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoryTags",
              "displayName": "categoryTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "productTags",
              "displayName": "productTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta",
              "displayName": "cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submissionId",
              "displayName": "submissionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "editLink",
              "displayName": "editLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "showcaseJSX",
              "displayName": "showcaseJSX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Livepeer Usage",
              "displayName": "Livepeer Usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Roadmap",
              "displayName": "Project Roadmap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Help Request",
              "displayName": "Help Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Other",
              "displayName": "Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -224,
        1040
      ],
      "id": "9f321088-5943-4235-8305-bf43f68f1b1b",
      "name": "Mark Denied",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Get Submission (Deny)').item.json.discordId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        1040
      ],
      "id": "dd751b3c-d643-4f7b-b5e2-468395b22491",
      "name": "Create DM (Denied)",
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Your project **{{ $('Get Submission (Deny)').item.json.title }}** was not approved.\n\nReason: {{ $('New Project Form Submitted').item.json['Reason For Denial'] || $('New Project Form Submitted').item.json['Information Required'] }}\n\nEdit and resubmit: [Here]({{ $('Get Submission (Deny)').item.json.editLink }})"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        1088
      ],
      "id": "ca6dfff3-473c-49b9-9c6c-92be938911b2",
      "name": "Send DM (Denied)",
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.projectApplicationSubmissionsSheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.projectApplicationSubmissionsSheetUrl }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -32
      ],
      "id": "c664f257-b24e-47b7-9901-e1a99efbbfb4",
      "name": "New Project Application",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "qVAFHRC7hkjuJgyo",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        576
      ],
      "id": "9f181a0e-cbdf-48b5-822b-7d42d64571a8",
      "name": "Merge2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.googleSheetId }}",
          "mode": "id",
          "cachedResultName": "Project Form [Showcase] (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.transformedResponsesSheetName }}",
          "mode": "name",
          "cachedResultName": "Transformed Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit#gid=815705990"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        720
      ],
      "id": "1798f6c2-70ae-4696-8536-0c4bc53aad65",
      "name": "Get All Approved Submissions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Discord Config VARS').item.json.discordReviewerUserId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb2e5913-63d5-4687-86f3-8ec5663d6cbe",
      "name": "Create DM To Reviewer Channel (Approved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2288,
        624
      ],
      "alwaysOutputData": false,
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $json.recipient }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab08ca96-ecef-426e-83dd-bf6894db437e",
      "name": "Create DM To Project Channel (Approved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2288,
        864
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordMessage }}",
        "options": {}
      },
      "id": "3ef0346a-5ba4-4807-8c1d-a25a714a1efa",
      "name": "Send Approved Message To Reviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2656,
        576
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordMessage }}",
        "options": {}
      },
      "id": "093d9a75-63f9-4a4d-91f8-fb832a6ed066",
      "name": "Send Approved Message To Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2720,
        784
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        576
      ],
      "id": "0a70745c-1a5f-4450-a737-f3f883b88cfe",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2544,
        784
      ],
      "id": "7c3fc76e-cec0-45df-8bc4-05bd9e060f49",
      "name": "Merge4"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2960,
        560
      ],
      "id": "50c6ab48-a3b9-4ef3-9da2-89e2069d6edf",
      "name": "Merge5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Discord Config VARS').item.json.discordReviewerUserId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c039b9a-06a0-43fe-a06d-726df7b9b1dc",
      "name": "Create DM To Reviewer Channel (Denied)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        1264
      ],
      "alwaysOutputData": false,
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordMessage }}",
        "options": {}
      },
      "id": "4a08e75d-aaf8-4851-aa18-58094c29b841",
      "name": "Send Denied Message To Reviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        1280
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        1200
      ],
      "id": "588633bc-1037-4e27-a7ec-be77d64b82ed",
      "name": "Merge6"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseAssetsBasePath }}/{{ $('Download MediaSrc File').item.json.title }}/mediaSrc",
        "binaryData": true,
        "binaryPropertyName": "={{ $('Download MediaSrc File').item.binary.mediaSrc }}",
        "commitMessage": "=update media: {{ $('Download MediaSrc File').item.json.title }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Github Config VARS').item.json.githubAssetsBranch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        464,
        432
      ],
      "id": "2dcdf694-d0bb-47ac-8e05-5ad673d5667a",
      "name": "Commit Media To Github",
      "webhookId": "7d9e8dd9-61ce-46b0-92c7-e35d239f9671",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.mediaSrc.split('id=')[1] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "mediaSrc"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        464
      ],
      "id": "6e71f47d-f4eb-440b-ba68-bd1ba866292c",
      "name": "Download MediaSrc File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kGXCncv4cINLKZaY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.logo.split('id=')[1] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "logo"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        688
      ],
      "id": "57e38a54-1222-48ab-94dc-fd2083dfb51f",
      "name": "Download Logo File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kGXCncv4cINLKZaY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseAssetsBasePath }}/{{ $json.title }}/logo",
        "binaryData": true,
        "binaryPropertyName": "={{ $('Download Logo File').item.binary.logo }}",
        "commitMessage": "=update logo: {{ $json.title }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Github Config VARS').item.json.githubAssetsBranch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        432,
        688
      ],
      "id": "48f22bc7-0806-4834-bbf9-2cba6d7d2531",
      "name": "Commit Logo To Github",
      "webhookId": "7d9e8dd9-61ce-46b0-92c7-e35d239f9671",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "addSuffix"
            }
          },
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        560
      ],
      "id": "4ab169d9-5f74-4e47-b45f-d88d23d65304",
      "name": "Merge7"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseAssetsBasePath }}/{{ $json.title }}/mediaSrc",
        "additionalParameters": {
          "reference": "={{ $('Github Config VARS').item.json.githubAssetsBranch }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        32,
        400
      ],
      "id": "c00bc5be-18c7-4667-99eb-3f179124f7e9",
      "name": "Check if file Exists",
      "webhookId": "40e7c739-c30c-4550-b4c2-f7d7660b9569",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseAssetsBasePath }}/{{ $json.title }}/logo",
        "additionalParameters": {
          "reference": "={{ $('Github Config VARS').item.json.githubAssetsBranch }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        16,
        688
      ],
      "id": "764afbcb-88a1-4caf-b363-6e11924d8aaa",
      "name": "Check if file Exists1",
      "webhookId": "40e7c739-c30c-4550-b4c2-f7d7660b9569",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseAssetsBasePath }}/{{ $json.title }}/logo",
        "commitMessage": "Update {{ $json.title }} Logo",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Github Config VARS').item.json.githubAssetsBranch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        624
      ],
      "id": "478bad9a-dad8-41ea-a0d2-215327a624d0",
      "name": "Delete a file",
      "webhookId": "0cfd060d-318b-476c-ae85-33c1ab2c875d",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "={{ $('Github Config VARS').item.json.githubOwner }}",
        "repository": "={{ $('Github Config VARS').item.json.githubRepo }}",
        "filePath": "={{ $('Github Config VARS').item.json.showcaseAssetsBasePath }}/{{ $json.title }}/mediaSrc",
        "commitMessage": "Update {{ $json.title }} MediaSrc",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Github Config VARS').item.json.githubAssetsBranch }}"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        432
      ],
      "id": "1f10694a-debb-4bef-ae31-73bf00cad3ed",
      "name": "Delete a file1",
      "webhookId": "0cfd060d-318b-476c-ae85-33c1ab2c875d",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## On Review Input\n\nWorkflow steps:\n1. Trigger on new review response row\n2. Load Config VARS\n3. Route to review branch\n4. Check Approved? field\n5. Branch to Approval Flow or Denial Flow\n\nCredentials required:\n- Google Sheets OAuth2 (trigger + lookup)\n\nExternal config required:\n- projectApplicationReviewResponsesSheetUrl\n- transformedResponsesSheetName\n- googleSheetId",
        "height": 1344,
        "width": 4694,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        320
      ],
      "id": "e819b9f9-7f24-4e8d-8cce-7300be8c5c9c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Approval Flow\n\nWorkflow steps:\n1. Fetch submission row by submissionId\n2. Download media/logo from Drive URLs\n3. Check if prior assets exist in assets branch\n4. Delete old assets if present\n5. Commit new media/logo to docs-v2-assets\n6. Mark submission approved + update URLs in sheet\n7. Get latest showcaseData.jsx from data branch\n8. Rebuild approved showcase array\n9. Commit updated showcaseData.jsx to docs-v2-preview\n10. Notify reviewer + project submitter via Discord\n\nCredentials required:\n- Google Sheets OAuth2\n- Google Drive OAuth2\n- GitHub API token (write)\n- Discord Bot API\n\nExternal config required:\n- githubOwner / githubRepo\n- githubAssetsBranch\n- githubDataBranch\n- showcaseDataFilePath\n- showcaseAssetsBasePath",
        "height": 496,
        "width": 1504,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        368
      ],
      "id": "9dbbb98a-4916-493b-9bea-36aeacb5a521",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Denial Flow\n\nWorkflow steps:\n1. Fetch submission row by submissionId\n2. Mark row with denied status/reason\n3. DM submitter with denial reason + edit link\n4. DM reviewer confirming denial processing\n\nCredentials required:\n- Google Sheets OAuth2\n- Discord Bot API\n\nExternal config required:\n- transformedResponsesSheetName\n- discordReviewerUserId",
        "height": 544,
        "width": 1168,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        928
      ],
      "id": "491b0005-e1c6-4a24-b605-3978d9a9f6c3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Update Projects Flow\n\nData integrity rules:\n- Source of truth for project metadata: Transformed Responses tab\n- Published list only includes rows where approved == yes\n- Published JS file rebuilt from sheet each run (no partial patching)\n- Asset URLs are updated from GitHub commit responses\n\nFailure handling:\n- Node-level file existence checks use error output to avoid hard fail\n- Global failures trigger Workflow Error Trigger -> reviewer DM\n\nOperational checks:\n- Verify generated showcaseData.jsx is valid JS export\n- Verify logo/media URLs are publicly fetchable\n- Verify reviewer and submitter notification delivery",
        "height": 688,
        "width": 2192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        368
      ],
      "id": "9cbc7342-c977-4459-9820-a45936cd5356",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Thank you for submitting **{{ $json[\"Project Name\"] }} : {{ $json[\"Project Tagline\"] }}**!\n\nUnfortunately, your submission has validation errors:\n{{ $('Validate Submission').item.json.errorMessage }}\n\nPlease correct these issues and resubmit. Thanks!\n\nHere's the link: {{ $json[\"Edit URL\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e95f5632-6b5f-4916-8c3e-3b11c7722110",
      "name": "Send DM to Project Submitter (Invalid Submission)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        416,
        0
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.googleSheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.transformedResponsesSheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "showcaseJSX": "={{ $json.showcaseFormatted }}",
            "approved": "={{ $json.approved }}",
            "editLink": "={{ $json[\"Edit URL\"] }}",
            "submissionId": "={{ $json.submissionId }}",
            "links": "={{ $json.showcaseObject.links }}",
            "cta": "={{ $json.showcaseObject.cta }}",
            "description": "={{ $json.showcaseObject.description }}",
            "productTags": "={{ $json.showcaseObject.productTags }}",
            "categoryTags": "={{ $json.showcaseObject.categoryTags }}",
            "logo": "={{ $json.showcaseObject.logo }}",
            "mediaSrc": "={{ $json.showcaseObject.mediaSrc }}",
            "href": "={{ $json.showcaseObject.href }}",
            "subtitle": "={{ $json.showcaseObject.subtitle }}",
            "title": "={{ $json.showcaseObject.title }}",
            "timestamp": "={{ $json.Timestamp }}",
            "email": "={{ $json[\"Email address\"] }}",
            "discordId": "={{ $json[\"Discord ID\"] }}",
            "Livepeer Usage": "={{ $json[\"How your project leverages Livepeer\"] }}",
            "Project Status": "={{ $json[\"Current Project Status (Beta, pre-release)\"] }}",
            "Project Roadmap": "={{ $json[\"Project Roadmap (6-12 month vision)\"] }}",
            "Help Request": "={{ $json[\"What help would you like from Livepeer?\"] }}",
            "Other": "={{ $json[\"Something didn't work? Leave us a message\"] }}",
            "mediaType": "={{ $json.showcaseObject.mediaType }}"
          },
          "matchingColumns": [
            "submissionId"
          ],
          "schema": [
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submissionId",
              "displayName": "submissionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordId",
              "displayName": "discordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "href",
              "displayName": "href",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaSrc",
              "displayName": "mediaSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoryTags",
              "displayName": "categoryTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "productTags",
              "displayName": "productTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cta",
              "displayName": "cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "editLink",
              "displayName": "editLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "showcaseJSX",
              "displayName": "showcaseJSX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Livepeer Usage",
              "displayName": "Livepeer Usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Roadmap",
              "displayName": "Project Roadmap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Help Request",
              "displayName": "Help Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Other",
              "displayName": "Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -272
      ],
      "id": "037fffbe-aa60-418e-bc36-82938c22e153",
      "name": "Update Google Sheet with Valid Project Submission Details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Discord Config VARS').item.json.discordReviewerUserId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb4a7e5c-7d13-4eff-8098-21c1883c750b",
      "name": "Create DM Channel (Valid)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        592,
        -272
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚀 **New Project Submission Pending Approval**\\n\\nPlease review and choose an action:\",\n  \"embeds\": [\n    {\n      \"title\": \"{{ $json.title }}\",\n      \"description\": \"{{ $json.subtitle }}\\n\\n{{ $json.description }}\",\n      \"url\": \"{{ $json.href }}\",\n      \"color\": 5814783,\n      \"fields\": [\n        {\n          \"name\": \"Submitter:\",\n          \"value\": \"{{ $json.email }} \\n <@{{ $json.discordId }}>\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Categories\",\n          \"value\": \"{{ $json.categoryTags.join(', ') }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Products\",\n          \"value\": \"{{ $json.productTags.join(', ') }}\",\n          \"inline\": true\n        },\n        {          \n          \"name\": \"Links\",\n          \"value\": \"{{ $json.links.map(l => { const [k, v] = Object.entries(l)[0]; if (k === 'email') return `✉️ **Email**: mailto:${v}`; return `🔗 **${k.charAt(0).toUpperCase() + k.slice(1)}**: ${v}`; }).join('\\\\n') }}\",\n          \"inline\": false\n        }\n      ],\n      \"thumbnail\": {\n        \"url\": \"{{ $json.logo }}\"\n      }\n    }\n  ],\n  \"components\": [\n    {\n      \"type\": 1,\n      \"components\": [\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"✅ Approve\",\n          \"url\": \"{{ $('Google Sheet Config VARS').item.json.approvalFormBaseUrl }}?entry.1590946104={{ $json.submissionId }}&entry.927100349=Approve\"\n        },\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"❌ Deny\",\n          \"url\": \"{{ $('Google Sheet Config VARS').item.json.approvalFormBaseUrl }}?entry.1590946104={{ $json.submissionId }}&entry.927100349=Deny\"\n        },\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"View Response\",\n          \"url\": \"{{ $('Google Sheet Config VARS').item.json.projectApplicationSubmissionsSheetUrl }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ec5c29d2-a36d-4c7d-932a-64685cb88037",
      "name": "Send Approval Message to Reviewer Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1024,
        -144
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## On New Project Submission\n\nWorkflow steps:\n1. Trigger on new submission row\n2. Load Config VARS\n3. Route to submission branch\n4. Validate required fields + URL format\n5. If invalid: DM submitter with edit link + errors\n6. If valid: transform to showcase object\n7. Upsert transformed record in Transformed Responses\n8. DM reviewer with approve/deny links\n\nCredentials required:\n- Google Sheets OAuth2 (trigger + update)\n- Discord Bot API (DM creation + message send)\n\nExternal config required:\n- projectApplicationSubmissionsSheetUrl\n- transformedResponsesSheetName\n- approvalFormBaseUrl\n- discordReviewerUserId",
        "height": 608,
        "width": 2768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        -304
      ],
      "id": "4270e6dc-f556-4a71-a5e0-5082eaddb094",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ABOUT THIS WORKFLOW\n\nPurpose:\n- Intake project showcase submissions from Google Forms/Sheets\n- Validate + normalize payload\n- Notify reviewers in Discord\n- Process approve/deny decisions\n- Publish data/assets to GitHub\n\nMain triggers:\n- New Project Application (submission intake)\n- New Project Form Submitted (review decision intake)\n- Workflow Error Trigger (global error alert)\n\nOutputs:\n- Updated sheet row in Transformed Responses\n- Updated showcaseData.jsx\n- Updated logo/media assets in assets branch\n- Discord notifications to reviewer + submitter",
        "height": 608,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        -976
      ],
      "id": "96d8519c-6b81-4ee5-b594-bd0ae103ebc5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.projectApplicationReviewResponsesSheetUrl }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheet Config VARS').item.json.projectApplicationReviewResponsesSheetUrl }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        832
      ],
      "id": "6aa1816b-5898-4392-869a-51d364333f21",
      "name": "New Project Form Submitted",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "qVAFHRC7hkjuJgyo",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gs-1",
              "name": "googleSheetId",
              "value": "1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ",
              "type": "string"
            },
            {
              "id": "gs-2",
              "name": "projectApplicationSubmissionsSheetUrl",
              "value": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit#gid=1246179399",
              "type": "string"
            },
            {
              "id": "gs-3",
              "name": "projectApplicationReviewResponsesSheetUrl",
              "value": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit#gid=1399176899",
              "type": "string"
            },
            {
              "id": "gs-4",
              "name": "transformedResponsesSheetName",
              "value": "Transformed Responses",
              "type": "string"
            },
            {
              "id": "gs-5",
              "name": "approvalFormBaseUrl",
              "value": "https://docs.google.com/forms/d/e/1FAIpQLSdzJU4-vAnOaxRIj8_k44KNaBg-IdftBpI7Enk7fuhm7A9UuQ/viewform",
              "type": "string"
            },
            {
              "id": "gs-6",
              "name": "newSubmissionPolling",
              "value": "everyHour",
              "type": "string"
            },
            {
              "id": "gs-7",
              "name": "reviewPolling",
              "value": "everyMinute",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        240
      ],
      "id": "43d08b0d-cafd-4749-a88f-940406b79a5e",
      "name": "Google Sheet Config VARS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gh-1",
              "name": "githubOwner",
              "value": "livepeer",
              "type": "string"
            },
            {
              "id": "gh-2",
              "name": "githubRepo",
              "value": "docs",
              "type": "string"
            },
            {
              "id": "gh-3",
              "name": "githubBranch",
              "value": "docs-v2-preview",
              "type": "string"
            },
            {
              "id": "gh-4",
              "name": "showcaseDataFilePath",
              "value": "snippets/automations/showcase/showcaseData.jsx",
              "type": "string"
            },
            {
              "id": "gh-5",
              "name": "showcaseAssetsBasePath",
              "value": "snippets/assets/domain/00_HOME/showcase",
              "type": "string"
            },
            {
              "id": "gh-6",
              "name": "githubDataBranch",
              "value": "docs-v2-preview",
              "type": "string"
            },
            {
              "id": "gh-7",
              "name": "githubAssetsBranch",
              "value": "docs-v2-assets",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        240
      ],
      "id": "5bafa52e-7863-4a68-a8a9-e0eff39517c6",
      "name": "Github Config VARS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc-1",
              "name": "discordReviewerUserId",
              "value": "781667568942841866",
              "type": "string"
            },
            {
              "id": "dc-2",
              "name": "discordApiBaseUrl",
              "value": "https://discord.com/api/v10",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        480
      ],
      "id": "803ed5d0-7550-430b-85e3-6df1c08dc751",
      "name": "Discord Config VARS"
    },
    {
      "parameters": {
        "content": "## CONFIG VARIABLES\n\nGoogle Sheet Config VARS:\n- googleSheetId\n- projectApplicationSubmissionsSheetUrl\n- projectApplicationReviewResponsesSheetUrl\n- transformedResponsesSheetName\n- approvalFormBaseUrl\n\nGithub Config VARS:\n- githubOwner\n- githubRepo\n- githubDataBranch (docs-v2-preview)\n- githubAssetsBranch (docs-v2-assets)\n- showcaseDataFilePath\n- showcaseAssetsBasePath\n\nDiscord Config VARS:\n- discordReviewerUserId\n- discordApiBaseUrl\n\nRequired credentials in n8n:\n- Google Sheets OAuth2\n- Google Drive OAuth2\n- GitHub API\n- Discord Bot API",
        "height": 608,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1888,
        96
      ],
      "id": "cca14206-bdd9-4a9e-8f04-6274b356064e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        736
      ],
      "id": "a11d3f64-4e95-4d49-9954-caf6fd931111",
      "name": "Workflow Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Discord Config VARS').item.json.discordReviewerUserId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1600,
        736
      ],
      "id": "d4b7f8ad-6fd9-4cc1-9c8a-4ac50ac92222",
      "name": "Create DM To Reviewer (Error)",
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Discord Config VARS').item.json.discordApiBaseUrl }}/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=⚠️ **Project Showcase Workflow Error**\n\nWorkflow: {{ $('Workflow Error Trigger').item.json.workflow?.name || 'Project Showcase Application Workflow' }}\nNode: {{ $('Workflow Error Trigger').item.json.execution?.lastNodeExecuted || 'unknown' }}\nMessage: {{ $('Workflow Error Trigger').item.json.execution?.error?.message || $('Workflow Error Trigger').item.json.error?.message || 'No error message' }}\nExecution URL: {{ $('Workflow Error Trigger').item.json.execution?.url || 'N/A' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1360,
        736
      ],
      "id": "05a890fd-d34e-4e03-846f-e6fdd5f23333",
      "name": "Send Workflow Error Message",
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json['Approved?'] }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "6fb6f2a1-58e5-458c-95c7-d8e7d3024444",
      "name": "Route Trigger Path",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1328,
        368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Validate Submission": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Transform to Correct Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create DM Channel (Invalid)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DM Channel (Invalid)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send DM to Project Submitter (Invalid Submission)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Correct Format": {
      "main": [
        [
          {
            "node": "Update Google Sheet with Valid Project Submission Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send Approval Message to Reviewer Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approve?": {
      "main": [
        [
          {
            "node": "Get Submission (Approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Submission (Deny)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Submission (Approve)": {
      "main": [
        [
          {
            "node": "Download MediaSrc File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Logo File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get GitHub File": {
      "main": [
        [
          {
            "node": "Get All Approved Submissions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create DM To Reviewer Channel (Approved)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create DM To Project Channel (Approved)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit to GitHub": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Submission (Deny)": {
      "main": [
        [
          {
            "node": "Mark Denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Denied": {
      "main": [
        [
          {
            "node": "Create DM (Denied)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create DM To Reviewer Channel (Denied)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DM (Denied)": {
      "main": [
        [
          {
            "node": "Send DM (Denied)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Project Application": {
      "main": [
        [
          {
            "node": "Google Sheet Config VARS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Approved": {
      "main": [
        [
          {
            "node": "Get GitHub File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Approved Submissions": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create DM To Reviewer Channel (Approved)": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create DM To Project Channel (Approved)": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Send Approved Message To Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Send Approved Message To Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approved Message To Reviewer": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Approved Message To Project": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create DM To Reviewer Channel (Denied)": {
      "main": [
        [
          {
            "node": "Send Denied Message To Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DM (Denied)": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Denied Message To Reviewer": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download MediaSrc File": {
      "main": [
        [
          {
            "node": "Check if file Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Logo File": {
      "main": [
        [
          {
            "node": "Check if file Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Mark Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Media To Github": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Commit Logo To Github": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 2
          }
        ],
        []
      ]
    },
    "Check if file Exists": {
      "main": [
        [
          {
            "node": "Delete a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Media To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file Exists1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Logo To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Commit Logo To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file1": {
      "main": [
        [
          {
            "node": "Commit Media To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet with Valid Project Submission Details": {
      "main": [
        [
          {
            "node": "Create DM Channel (Valid)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create DM Channel (Valid)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Message to Reviewer Channel": {
      "main": [
        []
      ]
    },
    "New Project Form Submitted": {
      "main": [
        [
          {
            "node": "Google Sheet Config VARS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Error Trigger": {
      "main": [
        [
          {
            "node": "Create DM To Reviewer (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DM To Reviewer (Error)": {
      "main": [
        [
          {
            "node": "Send Workflow Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheet Config VARS": {
      "main": [
        [
          {
            "node": "Github Config VARS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Config VARS": {
      "main": [
        [
          {
            "node": "Discord Config VARS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Config VARS": {
      "main": [
        [
          {
            "node": "Route Trigger Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Trigger Path": {
      "main": [
        [
          {
            "node": "Is Approve?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e8651ab4-6a38-47a6-b422-53de02c95126",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b77ce31e344450acd6ad20bd6cde79f46c1e07d55921483122bfba86e8350352"
  },
  "id": "O18LzrAI8NBjYSX4XZvp5",
  "tags": []
}
