snippets/automations/scripts/n8n/Showcase_Project_Pipeline.json
{
  "name": "Approval/Denial Form Handler",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Validate all fields\nconst data = $input.last().json;\nconst errors = [];\n\n// Required fields check\nconst required = ['Project Name', 'Project Tagline', 'Project Description', 'Discord ID', 'Project Website', 'Project Logo'];\nfor (const field of required) {\n  if (!data[field] || data[field].trim() === '') {\n    errors.push(`Missing required field: ${field}`);\n  }\n}\n\n// URL validation helper\nfunction isValidUrl(string) {\n  try {\n    new URL(string);\n    return true;\n  } catch (_) {\n    return false;\n  }\n}\n\n// Validate main href\nif (data.href && !isValidUrl(data.href)) {\n  errors.push('Invalid project URL (href)');\n}\n\n// Validate mediaSrc\nif (data.mediaSrc && !isValidUrl(data.mediaSrc)) {\n  errors.push('Invalid media source URL');\n}\n\n// Validate logo\nif (data.logo && !isValidUrl(data.logo)) {\n  errors.push('Invalid logo URL');\n}\n\n// Validate links object\nif (data.links) {\n  try {\n    const links = typeof data.links === 'string' ? JSON.parse(data.links) : data.links;\n    for (const [key, value] of Object.entries(links)) {\n      if (value && !isValidUrl(value)) {\n        errors.push(`Invalid ${key} link`);\n      }\n    }\n  } catch (e) {\n    errors.push('Invalid links format');\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    isValid: errors.length === 0,\n    errors: errors,\n    errorMessage: errors.join(', ')\n  }\n};"
      },
      "id": "677ea31c-9629-4c98-8b24-439a1689398f",
      "name": "Validate Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isValid }}",
              "value2": false
            }
          ]
        },
        "options": {}
      },
      "id": "69ede940-280a-4bc8-9824-685c3bbf4d44",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $json[\"Discord ID \"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "031d3409-443d-4ddf-a1f6-f33ef637105e",
      "name": "Create DM Channel (Invalid)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -16,
        -32
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Thank you for submitting **{{ $json[\"Project Name\"] }} : {{ $json[\"Project Tagline\"] }}**!\n\nUnfortunately, your submission has validation errors:\n{{ $('Validate Submission').item.json.errorMessage }}\n\nPlease correct these issues and resubmit. Thanks!\n\nHere's the link: {{ $json[\"Edit URL\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e95f5632-6b5f-4916-8c3e-3b11c7722110",
      "name": "Send DM (Invalid Submission)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        576,
        0
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚀 **New Project Submission Pending Approval**\\n\\nPlease review and choose an action:\",\n  \"embeds\": [\n    {\n      \"title\": \"{{ $json.title }}\",\n      \"description\": \"{{ $json.subtitle }}\\n\\n{{ $json.description }}\",\n      \"url\": \"{{ $json.href }}\",\n      \"color\": 5814783,\n      \"fields\": [\n        {\n          \"name\": \"Submitter:\",\n          \"value\": \"{{ $json.email }} \\n <@{{ $json.discordId }}>\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Categories\",\n          \"value\": \"{{ $json.categoryTags.join(', ') }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Products\",\n          \"value\": \"{{ $json.productTags.join(', ') }}\",\n          \"inline\": true\n        },\n        {          \n          \"name\": \"Links\",\n          \"value\": \"{{ $json.links.map(l => { const [k, v] = Object.entries(l)[0]; if (k === 'email') return `✉️ **Email**: mailto:${v}`; return `🔗 **${k.charAt(0).toUpperCase() + k.slice(1)}**: ${v}`; }).join('\\\\n') }}\",\n          \"inline\": false\n        }\n      ],\n      \"thumbnail\": {\n        \"url\": \"{{ $json.logo }}\"\n      }\n    }\n  ],\n  \"components\": [\n    {\n      \"type\": 1,\n      \"components\": [\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"✅ Approve\",\n          \"url\": \"https://docs.google.com/forms/d/e/1FAIpQLSdzJU4-vAnOaxRIj8_k44KNaBg-IdftBpI7Enk7fuhm7A9UuQ/viewform?entry.1590946104={{ $json.submissionId }}&entry.927100349=Approve\"\n        },\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"❌ Deny\",\n          \"url\": \"https://docs.google.com/forms/d/e/1FAIpQLSdzJU4-vAnOaxRIj8_k44KNaBg-IdftBpI7Enk7fuhm7A9UuQ/viewform?entry.1590946104={{ $json.submissionId }}&entry.927100349=Deny\"\n        },\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"View Response\",\n          \"url\": \"https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit#gid=1246179399\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ec5c29d2-a36d-4c7d-932a-64685cb88037",
      "name": "Send Approval Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        208
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "github_owner",
              "name": "githubOwner",
              "value": "livepeer",
              "type": "string"
            },
            {
              "id": "github_repo",
              "name": "githubRepo",
              "value": "docs",
              "type": "string"
            },
            {
              "id": "github_path",
              "name": "githubFilePath",
              "value": "snippets/automations/showcase/showcaseData.jsx",
              "type": "string"
            },
            {
              "id": "077c994c-4563-4210-8690-3b00fe4dba99",
              "name": "githubBranch",
              "value": "docs-v2-preview",
              "type": "string"
            },
            {
              "id": "293846b3-b346-4a17-96fc-880b2917db8d",
              "name": "discordServerID",
              "value": "1066890817425387581",
              "type": "string"
            },
            {
              "id": "5cf8e964-1dad-40bd-9813-1b23ecc6e10e",
              "name": "discordChannelID",
              "value": "1463391944746078319",
              "type": "string"
            },
            {
              "id": "7afa29b0-d43d-40c8-8e9e-c33b200dc718",
              "name": "projectResponseSheetUrl",
              "value": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit?resourcekey=&gid=1246179399#gid=1246179399",
              "type": "string"
            },
            {
              "id": "ae8e65c9-4b12-477e-83a3-cf30fe8f85b3",
              "name": "Google_Form_ID",
              "value": "1a2b3c4d5e6f7g8h9i0j",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -848,
        -560
      ],
      "id": "959e43dc-b733-4fd7-a01c-f6ea492162c0",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        -16
      ],
      "id": "94d5c725-b027-455d-a8cb-558b56b34895",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Sheets data to showcase format\nconst data = $input.first().json;\n\nconst submissionId = data['Timestamp'].toString().replace(/[^0-9]/g, '');\n\n// -----------------------------\n// Parse tags\n// -----------------------------\nconst categoryTags = data['Project Category']\n  ? data['Project Category'].split(',').map(t => t.trim())\n  : [];\n\nconst productTags = data['Livepeer Platforms Used']\n  ? data['Livepeer Platforms Used'].split(',').map(t => t.trim())\n  : [];\n\nconst raw = (data['Media File Type'] || '').toString().toLowerCase();\n\nconst mediaType =\n  raw === 'video / gif' || raw === 'video'\n    ? 'video'\n    : 'image';\n\n// -----------------------------\n// Links\n// -----------------------------\nconst links = [];\nconst urlFields = {\n  'Github URL': 'github',\n  'X / Twitter URL': 'twitter',\n  'Discord Invite URL': 'discord',\n  'Youtube Channel URL': 'youtube',\n  'Telegram URL': 'telegram',\n  'Instagram URL': 'instagram',\n  'Blog Site URL': 'blog',\n  'LinkedIn URL': 'linkedin',\n  'Whatsapp URL': 'whatsapp',\n  'Reddit URL': 'reddit',\n  'Bluesky URL': 'bluesky',\n  'Twitch URL': 'twitch',\n  'Other URL? ': 'other',\n  'Project Website': 'website',\n  'Email Contact (user facing)': 'email'\n};\n\nfor (const [fieldName, linkKey] of Object.entries(urlFields)) {\n  if (data[fieldName] && data[fieldName].trim()) {\n    links.push({ [linkKey]: data[fieldName].trim() });\n  }\n}\n\n\n// -----------------------------\n// Showcase object\n// -----------------------------\nconst showcaseObject = {\n  title: data['Project Name'],\n  subtitle: data['Project Tagline'],\n  href: data['Project Website'],\n  mediaSrc: data['Hero Media File'],\n  mediaType, \n  logo: data['Project Logo'],\n  categoryTags,\n  productTags,\n  description:\n    (data['Project Description'] || '') +\n    ' ' +\n    (data['How your project leverages Livepeer'] || ''),\n  cta: data['Call to Action (CTA)'] || '',\n  links\n};\n\nreturn {\n  json: {\n    ...data,\n    submissionId,\n    showcaseObject,\n    showcaseFormatted: JSON.stringify(showcaseObject, null, 2),\n    approved: 'no'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        224
      ],
      "id": "006e094d-aa17-45c6-9a6c-f94f5f4e3b4d",
      "name": "Transform to Correct Format"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Transformed Responses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "showcaseJSX": "={{ $json.showcaseFormatted }}",
            "approved": "={{ $json.approved }}",
            "editLink": "={{ $json[\"Edit URL\"] }}",
            "submissionId": "={{ $json.submissionId }}",
            "links": "={{ $json.showcaseObject.links }}",
            "cta": "={{ $json.showcaseObject.cta }}",
            "description": "={{ $json.showcaseObject.description }}",
            "productTags": "={{ $json.showcaseObject.productTags }}",
            "categoryTags": "={{ $json.showcaseObject.categoryTags }}",
            "logo": "={{ $json.showcaseObject.logo }}",
            "mediaSrc": "={{ $json.showcaseObject.mediaSrc }}",
            "href": "={{ $json.showcaseObject.href }}",
            "subtitle": "={{ $json.showcaseObject.subtitle }}",
            "title": "={{ $json.showcaseObject.title }}",
            "timestamp": "={{ $json.Timestamp }}",
            "email": "={{ $json[\"Email address\"] }}",
            "discordId": "={{ $json[\"Discord ID\"] }}",
            "Livepeer Usage": "={{ $json[\"How your project leverages Livepeer\"] }}",
            "Project Status": "={{ $json[\"Current Project Status (Beta, pre-release)\"] }}",
            "Project Roadmap": "={{ $json[\"Project Roadmap (6-12 month vision)\"] }}",
            "Help Request": "={{ $json[\"What help would you like from Livepeer?\"] }}",
            "Other": "={{ $json[\"Something didn't work? Leave us a message\"] }}",
            "mediaType": "={{ $json.showcaseObject.mediaType }}"
          },
          "matchingColumns": [
            "submissionId"
          ],
          "schema": [
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submissionId",
              "displayName": "submissionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordId",
              "displayName": "discordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "href",
              "displayName": "href",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaSrc",
              "displayName": "mediaSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoryTags",
              "displayName": "categoryTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "productTags",
              "displayName": "productTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cta",
              "displayName": "cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "editLink",
              "displayName": "editLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "showcaseJSX",
              "displayName": "showcaseJSX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Livepeer Usage",
              "displayName": "Livepeer Usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Roadmap",
              "displayName": "Project Roadmap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Help Request",
              "displayName": "Help Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Other",
              "displayName": "Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        224
      ],
      "id": "037fffbe-aa60-418e-bc36-82938c22e153",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "=781667568942841866"
            }
          ]
        },
        "options": {}
      },
      "id": "cb4a7e5c-7d13-4eff-8098-21c1883c750b",
      "name": "Create DM Channel (Invalid)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        208
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        208
      ],
      "id": "8721ab95-d644-4050-9190-04e568355d44",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚀 **New Project Submission Pending Approval**\\n\\nPlease review and choose an action:\",\n  \"embeds\": [\n    {\n      \"title\": \"{{ $json.title }}\",\n      \"description\": \"{{ $json.subtitle }}\\n\\n{{ $json.description }}\",\n      \"url\": \"{{ $json.href }}\",\n      \"color\": 5814783,\n      \"fields\": [\n        {\n          \"name\": \"Submitter:\",\n          \"value\": \"{{ $json.email }} \\n <@{{ $json.discordId }}>\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Categories\",\n          \"value\": \"{{ $json.categoryTags.join(', ') }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Products\",\n          \"value\": \"{{ $json.productTags.join(', ') }}\",\n          \"inline\": true\n        },\n        {          \n          \"name\": \"Links\",\n          \"value\": \"{{ $json.links.map(l => {\n    const [k, v] = Object.entries(l)[0];\n    if (k === 'email') return `✉️ **Email**: mailto:${v}`;\n    return `🔗 **${k.charAt(0).toUpperCase() + k.slice(1)}**: ${v}`;\n  }).join('\\\\n') }}\",\n          \"inline\": false\n        }\n      ],\n      \"thumbnail\": {\n        \"url\": \"{{ $json.logo }}\"\n      }\n    }\n  ],\n  \"components\": [\n    {\n      \"type\": 1,\n      \"components\": [\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"Approve\",\n          \"url\": \"https://n8n-j39n.sliplane.app/webhook/approve?submissionId={{ $json.submissionId }}\"\n        },\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"Deny\",\n          \"url\": \"https://n8n-j39n.sliplane.app/webhook/deny?submissionId={{ $json.submissionId }}\"\n        },\n        {\n          \"type\": 2,\n          \"style\": 5,\n          \"label\": \"View Response\",\n          \"url\": \"https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit#gid=1246179399\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "49cd6a09-3c6c-45aa-b0bf-a434cf952c59",
      "name": "Send Approval Message1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        -576
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "899aa788-8bf0-4f8b-9841-6f7a8d4e515b",
              "leftValue": "={{ $json['Approved?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        688
      ],
      "id": "067c4385-f325-4939-a7bd-3acf39b14d8e",
      "name": "Is Approve?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Transformed Responses",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -448,
        576
      ],
      "id": "c042872a-b19f-466d-9fb2-5429551fbfe3",
      "name": "Get Submission (Approve)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "livepeer",
        "repository": "docs",
        "filePath": "snippets/automations/showcase/showcaseData.jsx",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": "docs-v2-preview"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1040,
        608
      ],
      "id": "177861a2-8361-43c1-a570-635b18ee960b",
      "name": "Get GitHub File",
      "webhookId": "3fff66ad-e86b-47fc-83a5-5529318b2173",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get SHA from GitHub\nconst sha = $('Get GitHub File').first().json.sha;\n\n// Get all rows from sheet\nconst allRows = $('Get All Approved Submissions').all();\n\n// Build showcase array from approved rows\nconst approvedRows = allRows.filter(item => item.json.approved === 'yes');\nconst showcaseArray = approvedRows.map(item => JSON.parse(item.json.showcaseJSX));\n\n// Build GitHub file\nconst fileContent = `export const showcaseData = ${JSON.stringify(showcaseArray, null, 2)};\\n`;\nconst encoded = Buffer.from(fileContent).toString('base64');\n\n// Build Discord embeds for each approved project\nconst discordEmbeds = approvedRows.map(item => {\n  const data = item.json;\n  const categoryTags = JSON.parse(data.categoryTags);\n  const productTags = JSON.parse(data.productTags);\n  const links = JSON.parse(data.links);\n  const email = $input.first().json.email;\n  const discordId = $input.first().json.discordId;\n  const editLink = $input.first().json.editLink;\n  \n  return {\n    title: data.title,\n    description: `${data.subtitle}\\n\\n${data.description}`,\n    url: data.href,\n    color: 5814783,\n    fields: [\n      {\n        \"name\": \"Submitter:\",\n        \"value\": `${email}, <@${discordId}>`,\n        \"inline\": false\n      },\n      {\n        name: \"Categories\",\n        value: categoryTags.join(', '),\n        inline: true\n      },\n      {\n        name: \"Products\",\n        value: productTags.join(', '),\n        inline: true\n      },\n      {\n        name: \"Links\",\n        value: links.map(l => {\n          const [k, v] = Object.entries(l)[0];\n          if (k === 'email') return `✉️ **Email**: ${v}`;\n          return `🔗 **${k.charAt(0).toUpperCase() + k.slice(1)}**: ${v}`;\n        }).join('\\n'),\n        inline: false\n      },\n      {\n        name: \"Edit Response\",\n        value: `[Edit Form Here](${editLink})`,\n        inline: false\n      }\n    ],\n    thumbnail: {\n      url: data.logo\n    }\n  };\n});\n\nreturn {\n  json: {\n    // For GitHub commit\n    content: encoded,\n    sha: sha,\n    message: `Update showcase: ${approvedRows.length} approved projects`,\n    \n    // For Discord notification\n    discordMessage: {\n      content: `✅ **Showcase Updated!**\\n\\n${approvedRows.length} approved project(s) now live:`,\n      embeds: discordEmbeds\n    },\n\n    recipient: $input.first().json.discordId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        752
      ],
      "id": "ab6d7033-e20e-430e-aadc-56cdc5ea0c2b",
      "name": "Update File"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "livepeer",
        "repository": "docs",
        "filePath": "snippets/automations/showcase/showcaseData.jsx",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.message }}",
        "additionalParameters": {
          "branch": {
            "branch": "docs-v2-preview"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1872,
        544
      ],
      "id": "511f7734-7cea-46e2-86a9-fcc9b85cc604",
      "name": "Commit to GitHub",
      "webhookId": "08689abf-2e19-4137-b27d-34dcbe776083",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Transformed Responses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "approved": "yes",
            "row_number": 0,
            "submissionId": "={{ $json.submissionId_2 }}",
            "logo": "={{ $json.content.download_url }}",
            "mediaSrc": "={{ $json.content_1.download_url }}",
            "showcaseJSX": "={{ (() => { const o = JSON.parse($json.showcaseJSX_2); o.mediaSrc = $json.content_1.download_url; o.logo = $json.content.download_url; return JSON.stringify(o); })() }}"
          },
          "matchingColumns": [
            "submissionId"
          ],
          "schema": [
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordId",
              "displayName": "discordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "href",
              "displayName": "href",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mediaSrc",
              "displayName": "mediaSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoryTags",
              "displayName": "categoryTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "productTags",
              "displayName": "productTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta",
              "displayName": "cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submissionId",
              "displayName": "submissionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "editLink",
              "displayName": "editLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "showcaseJSX",
              "displayName": "showcaseJSX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Livepeer Usage",
              "displayName": "Livepeer Usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Roadmap",
              "displayName": "Project Roadmap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Help Request",
              "displayName": "Help Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Other",
              "displayName": "Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        864,
        592
      ],
      "id": "89cd7bdb-bf63-4532-99d2-118db3845f50",
      "name": "Mark Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Transformed Responses",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -432,
        1040
      ],
      "id": "fb2b7890-40f7-422d-bec6-f1150779d1e8",
      "name": "Get Submission (Deny)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Transformed Responses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "approved": "={{ $('Is Approve?').item.json['Approved?'] }}",
            "submissionId": "={{ $json.submissionId }}"
          },
          "matchingColumns": [
            "submissionId"
          ],
          "schema": [
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discordId",
              "displayName": "discordId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtitle",
              "displayName": "subtitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "href",
              "displayName": "href",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mediaSrc",
              "displayName": "mediaSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoryTags",
              "displayName": "categoryTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "productTags",
              "displayName": "productTags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta",
              "displayName": "cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "links",
              "displayName": "links",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submissionId",
              "displayName": "submissionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "editLink",
              "displayName": "editLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "showcaseJSX",
              "displayName": "showcaseJSX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Livepeer Usage",
              "displayName": "Livepeer Usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project Roadmap",
              "displayName": "Project Roadmap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Help Request",
              "displayName": "Help Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Other",
              "displayName": "Other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -224,
        1040
      ],
      "id": "9f321088-5943-4235-8305-bf43f68f1b1b",
      "name": "Mark Denied",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $('Get Submission (Deny)').item.json.discordId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        1040
      ],
      "id": "dd751b3c-d643-4f7b-b5e2-468395b22491",
      "name": "Create DM (Denied)",
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Your project **{{ $('Get Submission (Deny)').item.json.title }}** was not approved.\n\nReason: {{ $('Project Reviewed').item.json['Reason For Denial'] || $('Project Reviewed').item.json['Information Required'] }}\n\nEdit and resubmit: [Here]({{ $('Get Submission (Deny)').item.json.editLink }})"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        1088
      ],
      "id": "ca6dfff3-473c-49b9-9c6c-92be938911b2",
      "name": "Send DM (Denied)",
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit?resourcekey=&gid=1246179399#gid=1246179399",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit?resourcekey=&gid=1246179399#gid=1246179399",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        160
      ],
      "id": "c664f257-b24e-47b7-9901-e1a99efbbfb4",
      "name": "New Project Application",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "qVAFHRC7hkjuJgyo",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1399176899,
          "mode": "list",
          "cachedResultName": "Review Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit#gid=1399176899"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        688
      ],
      "id": "6aa1816b-5898-4392-869a-51d364333f21",
      "name": "Project Reviewed",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "qVAFHRC7hkjuJgyo",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        704
      ],
      "id": "9f181a0e-cbdf-48b5-822b-7d42d64571a8",
      "name": "Merge2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ",
          "mode": "list",
          "cachedResultName": "Project Form [Showcase] (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 815705990,
          "mode": "list",
          "cachedResultName": "Transformed Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TUFMW2rEm2kgP60iVc0Abp05aUlQBfT2OOMF3lvEmXQ/edit#gid=815705990"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        960
      ],
      "id": "1798f6c2-70ae-4696-8536-0c4bc53aad65",
      "name": "Get All Approved Submissions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "79WnIkNIi3whsMF9",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "=781667568942841866"
            }
          ]
        },
        "options": {}
      },
      "id": "cb2e5913-63d5-4687-86f3-8ec5663d6cbe",
      "name": "Create DM To Reviewer Channel (Approved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1872,
        800
      ],
      "alwaysOutputData": false,
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "={{ $json.recipient }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab08ca96-ecef-426e-83dd-bf6894db437e",
      "name": "Create DM To Project Channel (Approved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1872,
        992
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordMessage }}",
        "options": {}
      },
      "id": "3ef0346a-5ba4-4807-8c1d-a25a714a1efa",
      "name": "Send Approved Message To Reviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        736
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordMessage }}",
        "options": {}
      },
      "id": "093d9a75-63f9-4a4d-91f8-fb832a6ed066",
      "name": "Send Approved Message To Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2336,
        928
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        736
      ],
      "id": "0a70745c-1a5f-4450-a737-f3f883b88cfe",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2192,
        928
      ],
      "id": "7c3fc76e-cec0-45df-8bc4-05bd9e060f49",
      "name": "Merge4"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2784,
        704
      ],
      "id": "50c6ab48-a3b9-4ef3-9da2-89e2069d6edf",
      "name": "Merge5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/users/@me/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient_id",
              "value": "=781667568942841866"
            }
          ]
        },
        "options": {}
      },
      "id": "0c039b9a-06a0-43fe-a06d-726df7b9b1dc",
      "name": "Create DM To Reviewer Channel (Denied)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        1264
      ],
      "alwaysOutputData": false,
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "discordBotApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordMessage }}",
        "options": {}
      },
      "id": "4a08e75d-aaf8-4851-aa18-58094c29b841",
      "name": "Send Denied Message To Reviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        1280
      ],
      "credentials": {
        "discordBotApi": {
          "id": "w1Jsx7w9upr3KgFD",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        1200
      ],
      "id": "588633bc-1037-4e27-a7ec-be77d64b82ed",
      "name": "Merge6"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "livepeer",
          "mode": "list",
          "cachedResultName": "livepeer",
          "cachedResultUrl": "https://github.com/livepeer"
        },
        "repository": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://github.com/livepeer/docs"
        },
        "filePath": "=snippets/assets/domain/00_HOME/showcase/{{ $('Download MediaSrc File').item.json.title }}/mediaSrc",
        "binaryData": true,
        "binaryPropertyName": "={{ $('Download MediaSrc File').item.binary.mediaSrc }}",
        "commitMessage": "=update media: {{ $('Download MediaSrc File').item.json.title }}",
        "additionalParameters": {
          "branch": {
            "branch": "docs-v2-preview"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        464,
        432
      ],
      "id": "2dcdf694-d0bb-47ac-8e05-5ad673d5667a",
      "name": "Commit Media To Github",
      "webhookId": "7d9e8dd9-61ce-46b0-92c7-e35d239f9671",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.mediaSrc.split('id=')[1] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "mediaSrc"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        464
      ],
      "id": "6e71f47d-f4eb-440b-ba68-bd1ba866292c",
      "name": "Download MediaSrc File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kGXCncv4cINLKZaY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.logo.split('id=')[1] }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "logo"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        688
      ],
      "id": "57e38a54-1222-48ab-94dc-fd2083dfb51f",
      "name": "Download Logo File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kGXCncv4cINLKZaY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "livepeer",
          "mode": "list",
          "cachedResultName": "livepeer",
          "cachedResultUrl": "https://github.com/livepeer"
        },
        "repository": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://github.com/livepeer/docs"
        },
        "filePath": "=snippets/assets/domain/00_HOME/showcase/{{ $json.title }}/logo",
        "binaryData": true,
        "binaryPropertyName": "={{ $('Download Logo File').item.binary.logo }}",
        "commitMessage": "=update logo: {{ $json.title }}",
        "additionalParameters": {
          "branch": {
            "branch": "docs-v2-preview"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        432,
        688
      ],
      "id": "48f22bc7-0806-4834-bbf9-2cba6d7d2531",
      "name": "Commit Logo To Github",
      "webhookId": "7d9e8dd9-61ce-46b0-92c7-e35d239f9671",
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "addSuffix"
            }
          },
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        560
      ],
      "id": "4ab169d9-5f74-4e47-b45f-d88d23d65304",
      "name": "Merge7"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "livepeer",
          "mode": "list",
          "cachedResultName": "livepeer",
          "cachedResultUrl": "https://github.com/livepeer"
        },
        "repository": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://github.com/livepeer/docs"
        },
        "filePath": "=snippets/assets/domain/00_HOME/showcase/{{ $json.title }}/mediaSrc",
        "additionalParameters": {
          "reference": "docs-v2-preview"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        32,
        400
      ],
      "id": "c00bc5be-18c7-4667-99eb-3f179124f7e9",
      "name": "Check if file Exists",
      "webhookId": "40e7c739-c30c-4550-b4c2-f7d7660b9569",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "livepeer",
          "mode": "list",
          "cachedResultName": "livepeer",
          "cachedResultUrl": "https://github.com/livepeer"
        },
        "repository": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://github.com/livepeer/docs"
        },
        "filePath": "=snippets/assets/domain/00_HOME/showcase/{{ $json.title }}/logo",
        "additionalParameters": {
          "reference": "docs-v2-preview"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        16,
        688
      ],
      "id": "764afbcb-88a1-4caf-b363-6e11924d8aaa",
      "name": "Check if file Exists1",
      "webhookId": "40e7c739-c30c-4550-b4c2-f7d7660b9569",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "livepeer",
          "mode": "list",
          "cachedResultName": "livepeer",
          "cachedResultUrl": "https://github.com/livepeer"
        },
        "repository": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://github.com/livepeer/docs"
        },
        "filePath": "=snippets/assets/domain/00_HOME/showcase/{{ $json.title }}/logo",
        "commitMessage": "Update {{ $json.title }} Logo",
        "additionalParameters": {
          "branch": {
            "branch": "docs-v2-preview"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        624
      ],
      "id": "478bad9a-dad8-41ea-a0d2-215327a624d0",
      "name": "Delete a file",
      "webhookId": "0cfd060d-318b-476c-ae85-33c1ab2c875d",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "livepeer",
          "mode": "list",
          "cachedResultName": "livepeer",
          "cachedResultUrl": "https://github.com/livepeer"
        },
        "repository": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://github.com/livepeer/docs"
        },
        "filePath": "=snippets/assets/domain/00_HOME/showcase/{{ $json.title }}/mediaSrc",
        "commitMessage": "Update {{ $json.title }} MediaSrc",
        "additionalParameters": {
          "branch": {
            "branch": "docs-v2-preview"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        240,
        432
      ],
      "id": "1f10694a-debb-4bef-ae31-73bf00cad3ed",
      "name": "Delete a file1",
      "webhookId": "0cfd060d-318b-476c-ae85-33c1ab2c875d",
      "credentials": {
        "githubApi": {
          "id": "vAAQD9gcQcGNKMOH",
          "name": "Github Livepeer/docs Write Commit Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Validate Submission": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Transform to Correct Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create DM Channel (Invalid)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create DM Channel (Invalid)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send DM (Invalid Submission)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Correct Format": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Create DM Channel (Invalid)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create DM Channel (Invalid)1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send Approval Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Message": {
      "main": [
        []
      ]
    },
    "Is Approve?": {
      "main": [
        [
          {
            "node": "Get Submission (Approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Submission (Deny)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Submission (Approve)": {
      "main": [
        [
          {
            "node": "Download MediaSrc File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Logo File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get GitHub File": {
      "main": [
        [
          {
            "node": "Get All Approved Submissions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create DM To Reviewer Channel (Approved)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create DM To Project Channel (Approved)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit to GitHub": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Submission (Deny)": {
      "main": [
        [
          {
            "node": "Mark Denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Denied": {
      "main": [
        [
          {
            "node": "Create DM (Denied)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create DM To Reviewer Channel (Denied)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DM (Denied)": {
      "main": [
        [
          {
            "node": "Send DM (Denied)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Project Application": {
      "main": [
        [
          {
            "node": "Validate Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Reviewed": {
      "main": [
        [
          {
            "node": "Is Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Approved": {
      "main": [
        [
          {
            "node": "Get GitHub File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Approved Submissions": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create DM To Reviewer Channel (Approved)": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create DM To Project Channel (Approved)": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Send Approved Message To Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Send Approved Message To Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approved Message To Reviewer": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Approved Message To Project": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create DM To Reviewer Channel (Denied)": {
      "main": [
        [
          {
            "node": "Send Denied Message To Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DM (Denied)": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Denied Message To Reviewer": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download MediaSrc File": {
      "main": [
        [
          {
            "node": "Check if file Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Logo File": {
      "main": [
        [
          {
            "node": "Check if file Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Mark Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Media To Github": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Commit Logo To Github": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 2
          }
        ],
        []
      ]
    },
    "Check if file Exists": {
      "main": [
        [
          {
            "node": "Delete a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Media To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file Exists1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Logo To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Commit Logo To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file1": {
      "main": [
        [
          {
            "node": "Commit Media To Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "705c7e32-731a-4d19-893d-54afbc9eb30b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b77ce31e344450acd6ad20bd6cde79f46c1e07d55921483122bfba86e8350352"
  },
  "id": "O18LzrAI8NBjYSX4XZvp5",
  "tags": []
}